<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUNKPOLAR</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="pantalla-inicio">

    <div class="titulo">

        <h1>PUNKPOLAR</h1>

        <p>Simulador de Cajero Automático</p>

    </div>

    <button id="btnInicio">

        Transacciones sin tarjeta

    </button>

</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>