<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUNKPOLAR</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Pantalla de inicio -->

    <div id="inicio" class="pantalla-inicio">

        <div class="titulo">
            <h1>PUNKPOLAR</h1>
            <p>Simulador de Cajero Automático</p>
        </div>

        <button id="btnInicio">
            Transacciones sin tarjeta
        </button>

    </div>

    <!-- Cajero -->

    <div id="cajero" class="cajero">

        <aside>

            <button class="menu-btn" id="cash">
                Código CASH
            </button>

            <button class="menu-btn">
                Depósito
            </button>

            <button class="menu-btn">
                Pagos
            </button>

            <button class="menu-btn">
                Nómina Móvil PUNKpolar
            </button>

        </aside>

        <main id="contenido">

            <h2>Bienvenido a PUNKPOLAR</h2>

            <p>
                Seleccione una opción del menú.
            </p>

        </main>

    </div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>